In [1]:
import pandas as pd
import numpy as np

##### Exploración CSV movie_info

In [2]:
df_info = pd.read_csv("./files/movie_info.csv")
df_info.head()

,movie_title,release_date,season,phase,production_budget_in_million_(USD),worldwide_collection_in_million_(USD),tomatometer,tomato_audience_score,imdb,metascore,meta_user_score
0,Iron Man,"May 2, 2008",Spring,1,140,585.37,9.4,9.1,7.9,7.9,8.6
1,The Incredible Hulk,"June 13, 2008",Spring,1,150,264.77,6.7,7.0,6.6,6.1,7.0
2,Iron Man 2,"May 7, 2010",Spring,1,200,623.93,7.2,7.1,6.9,5.7,6.4
3,Thor,"May 6, 2011",Spring,1,150,449.33,7.7,7.6,7.0,5.7,7.1
4,Captain America: The First Avenger,"July 22, 2011",Summer,1,140,370.57,7.9,7.5,6.9,6.6,6.8

In [3]:
def exploracion_dataframe(dataframe):

    #Nos enseña los duplicados en el DF

    print(f"Tenemos {dataframe.duplicated().sum()} duplicados en el conjunto de datos.")
    print("\n ----- \n")

    #Nos muestra un DataFrame para los valores nulos

    print("Los nulos que tenemos en el conjunto de datos son:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    print("\n ----- \n")

    #Nos muestra los tipos de columnas

    print(f"Los tipos de las columnas son:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    print("\n ----- \n")

    #Nos muestra los valores de las columnas categóricas

    print("Los valores que tenemos para las COLUMNAS CATEGÓRICAS son: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()).head())

    #Sacamos los principales estadísticos de cada una de las categorías
    
    columnas_numericas = dataframe.select_dtypes(include=['int', 'float']).columns
    columnas_categoricas = dataframe.select_dtypes(include='O').columns
    for col in columnas_categoricas:
        print("\n ----- \n")
        print(f"Los principales estadísticos de las COLUMNAS CATEGÓRICAS para el {col.upper()} son: ")
        display(dataframe[[col]].describe().T)
    for col in columnas_numericas:
        print("\n ----- \n")
        print(f"Los principales estadísticos de las COLUMNAS NUMÉRICAS para el {col.upper()} son: ")
        display(dataframe[[col]].describe().T)

In [ ]:
exploracion_dataframe(df_info)

In [5]:
def comprobacion_valores_nulos(df):
    
    # calculamos el % de nulos por columna
    df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])
    # filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
    
    return df_nulos[df_nulos["%_nulos"] > 0]

In [6]:
comprobacion_valores_nulos(df_info)

Empty DataFrame
Columns: [%_nulos]
Index: []

In [8]:
def gestionar_nulos(dataframe):
    # Reemplazar los valores nulos por "desconocido"
    dataframe = dataframe.fillna('unkwown')
    return dataframe

In [9]:
df_europa = pd.read_csv("./files/europe_box_office.csv")
df_europa.head(2)

,movie_title,United Kingdom,Spain,Italy,Germany,Denmark,Hungary,Finland,Netherlands,Iceland,...,Poland,Serbia and Montenegro,Estonia,Slovenia,Sweden,Belgium,Norway,Greece,France,Other_European_Countries
0,Iron Man,34.28,12.03,10.81,8.56,2.22,0.68,0.67,2.10,0.28,...,1.00,0.03,0.08,0.09,2.06,1.97,1.86,1.80,19.20,1.37
1,The Incredible Hulk,15.16,7.69,6.46,2.46,1.10,0.31,0.22,1.34,0.15,...,0.48,0.05,0.03,0.06,1.08,1.08,1.53,0.83,9.73,0.70

In [10]:
comprobacion_valores_nulos(df_europa)

                         %_nulos
Denmark                 3.703704
Hungary                 7.407407
Finland                 3.703704
Switzerland            29.629630
Romania                22.222222
Lithuania              18.518519
Latvia                 66.666667
Croatia                14.814815
Austria                 3.703704
Poland                  3.703704
Serbia and Montenegro  22.222222
Estonia                66.666667
Sweden                  3.703704
Belgium                 3.703704
Greece                 18.518519

In [11]:
df_europa_limpio = gestionar_nulos(df_europa)

In [12]:
comprobacion_valores_nulos(df_europa_limpio)

Empty DataFrame
Columns: [%_nulos]
Index: []

In [13]:
df_europa_limpio.to_csv("df_europa_limpio.csv", index= False)

In [14]:
df_segundo1= pd.read_csv("./files/mcu dataset.csv")
df_segundo1.head()

,Name,US release Date,Director,Producer,Duration,Genre,IMDB rating,metascore,Cast,Budget,Domestic Gross,Total Gross,Opening Gross,Oscar Nomination,Oscar won,Phase
0,Iron Man,"May 2, 2008",Jon Favreau,Avi Arad and Kevin Feige,2h 6min,"Action , Adventure, Sci-Fi",7.9,79,"Robert Downey Jr. , Gweneth Paltrow , Terrence...","$140,000,000","$318,604,126","$585,366,247","$98,618,668",2,0,1
1,The incredible Hulk,"June 13, 2008",Louis Leterrier,"Avi Arad ,Gale Ann Hurd and Kevin Feige",1h 52min,"Action , Adventure, Sci-Fi",6.6,61,"Edward Norton , Liv Tyler , Tim Roth","$150,000,000","$134,806,913","$264,770,996","$55,414,050",0,0,1
2,Iron Man 2,"May 7, 2010",Jon Favreau,Kevin Feige,2h 4min,"Action , Adventure, Sci-Fi",7.0,57,"Robert Downey Jr. , Gweneth Paltrow , Mickey R...","$200,000,000","$312,433,331","$623,933,331","$128,122,480",1,0,1
3,Thor,"May 6, 2011",Kenneth Branagh,Kevin Feige,1h 55min,"Action , Adventure, Fantasy",7.0,57,"Chris Hemsworth , Anthony Hopkins , Natalie Po...","$150,000,000","$181,030,624","$449,326,618","$65,723,338",0,0,1
4,Captain America: The first Avenger,"July 22, 2011",Joe Jhonston,Kevin Feige,2h 4min,"Action , Adventure, Sci-Fi",6.9,66,"Chris Evans , Hugo Weaving , Samuel L. Jackson","$140,000,000","$176,654,505","$370,569,774","$65,058,524",0,0,1

In [15]:
# Cambiar los nombres de las columnas
df_segundo1.rename(columns={'Name': 'movie_title'}, inplace=True)

In [18]:
df_marvel= pd.read_csv("./files/dc_marvel_movie_performance.csv")
df_marvel.sample(5)

,Film,U.S. release date,Box office gross Domestic (U.S. and Canada ),Box office gross Other territories,Box office gross Worldwide,Budget,MCU,Phase,Distributor,MPAA Rating,...,Character Family,Domestic %,Gross to Budget,Rotten Tomatoes Critic Score,Male/Female-led,Year,Inflation Adjusted Worldwide Gross,Inflation Adjusted Budget,2.5x prod,Break Even
62,Batman v Superman: Dawn of Justice,23/03/2016,"$330,360,194","$544,002,609","$874,362,803","$250,000,000",False,NaN,Warner Bros.,PG-13,...,Justice League,38%,3.50,29.0,Male,2016.0,"$1,110,049,834","$317,388,225","$625,000,000",Success
70,Wonder Woman,02/06/2017,"$412,845,172","$411,125,510","$823,970,682","$149,000,000",False,NaN,Warner Bros.,PG-13,...,Wonder Woman,50%,5.53,93.0,Female,2017.0,"$1,024,254,126","$185,217,591","$372,500,000",Success
55,The Amazing Spider-Man 2,02/05/2014,"$202,853,933","$506,128,390","$708,982,323","$200,000,000",False,NaN,Sony Pictures Entertainment,PG-13,...,Spider-Man,29%,3.54,51.0,Male,2014.0,"$708,982,323","$200,000,000","$500,000,000",Success
6,The Return of Swamp Thing,12/05/1989,"$192,816","$82,112","$274,928","$3,000,000",False,NaN,Millimeter Films,PG-13,...,Swamp Thing,70%,0.09,44.0,Male,1989.0,"$675,573","$7,371,813","$7,500,000",Flop
107,Spider-Man: Across the Spider-Verse,02/06/2023,"$381,311,319","$309,205,354","$690,516,673","$100,000,000",False,NaN,Columbia Pictures,PG,...,Spider-Man,55%,6.91,96.0,Male,2023.0,"$690,516,673","$100,000,000","$250,000,000",Success

In [18]:
df_marvel.rename(columns= {'Film': 'movie_title'}, inplace= True )

In [24]:
def estandarizar_nombres(df, diccionario, columna='movie_title'):
    """
    Esta función estandariza los nombres de las películas en un DataFrame
    utilizando un diccionario de mapeo.

    Parámetros:
    - df: DataFrame pandas.
    - diccionario: Diccionario de mapeo con los nombres originales como claves y los nombres estandarizados como valores.
    - columna: Nombre de la columna que contiene los nombres de las películas.

    Retorna:
    - DataFrame con los nombres de las películas estandarizados.
    """
    # Aplicar el diccionario de mapeo a la columna de nombres de películas
    df[columna] = df[columna].replace(diccionario)
    return df

In [25]:
diccionario_movies = {
    "Spider-Man:Far From Home": "Spider-Man: Far From Home",
    "Avengers:Endgame": "Avengers: Endgame",
    "Captain-Marvel": "Captain Marvel",
    "Thor:Ragnarok": "Thor: Ragnarok",
    "Spider-Man:Homecoming": "Spider-Man: Homecoming",
    "The incredible Hulk": "The Incredible Hulk",
    "Avengers : Age of ultron": "Avengers: Age of Ultron",
    "Guardians Of the Galaxy": "Guardians of the Galaxy",
    "Captain America : The Winter Soldier": "Captain America: The Winter Soldier",
    "Marvel's the Avengers": "The Avengers",
    "Captain America: The first Avenger": "Captain America: The First Avenger"
}

In [26]:
df_segundo1_limpio= estandarizar_nombres(df_segundo1,diccionario_movies,columna='movie_title')

In [27]:
df_segundo1_limpio

,movie_title,US release Date,Director,Producer,Duration,Genre,IMDB rating,metascore,Cast,Budget,Domestic Gross,Total Gross,Opening Gross,Oscar Nomination,Oscar won,Phase
0,Iron Man,"May 2, 2008",Jon Favreau,Avi Arad and Kevin Feige,2h 6min,"Action , Adventure, Sci-Fi",7.9,79,"Robert Downey Jr. , Gweneth Paltrow , Terrence...","$140,000,000","$318,604,126","$585,366,247","$98,618,668",2,0,1
1,The Incredible Hulk,"June 13, 2008",Louis Leterrier,"Avi Arad ,Gale Ann Hurd and Kevin Feige",1h 52min,"Action , Adventure, Sci-Fi",6.6,61,"Edward Norton , Liv Tyler , Tim Roth","$150,000,000","$134,806,913","$264,770,996","$55,414,050",0,0,1
2,Iron Man 2,"May 7, 2010",Jon Favreau,Kevin Feige,2h 4min,"Action , Adventure, Sci-Fi",7.0,57,"Robert Downey Jr. , Gweneth Paltrow , Mickey R...","$200,000,000","$312,433,331","$623,933,331","$128,122,480",1,0,1
3,Thor,"May 6, 2011",Kenneth Branagh,Kevin Feige,1h 55min,"Action , Adventure, Fantasy",7.0,57,"Chris Hemsworth , Anthony Hopkins , Natalie Po...","$150,000,000","$181,030,624","$449,326,618","$65,723,338",0,0,1
4,Captain America: The First Avenger,"July 22, 2011",Joe Jhonston,Kevin Feige,2h 4min,"Action , Adventure, Sci-Fi",6.9,66,"Chris Evans , Hugo Weaving , Samuel L. Jackson","$140,000,000","$176,654,505","$370,569,774","$65,058,524",0,0,1
5,The Avengers,"May 4, 2012",Joss Whedon,Kevin Feige,2h 23min,"Action , Adventure, Sci-Fi",8.0,69,"Robert Downey Jr. , Chris Evans , Scarlett Joh...","$220,000,000","$623,357,910","$1,518,812,988","$207,438,708",1,0,1
6,Iron Man 3,"May 3, 2013",Shane Black,Kevin Feige,2h 10min,"Action , Adventure, Sci-Fi",7.1,62,"Robert Downey Jr. , Gweneth Paltrow , Guy Pearce","$200,000,000","$408,992,272","$1,214,811,252","$174,144,585",1,0,2
7,Thor: The dark world,"November 8, 2013",Alan Taylor,Kevin Feige,1h 52min,"Action , Adventure, Fantasy",6.8,54,"Chris Hemsworth , Natalie Portman , Tom Hiddl...","$170,000,000","$206,362,140","$644,783,140","$85,737,841",0,0,2
8,Captain America: The Winter Soldier,"April 4, 2014",Anthony and Joe Russo,Kevin Feige,2h 16min,"Action , Adventure, Sci-Fi",7.7,70,"Chris Evans , Scarlett Johansson , Samuel L. J...","$170,000,000","$259,746,958","$714,421,503","$95,023,721",1,0,2
9,Guardians of the Galaxy,"August 1, 2014",James Gunn,Kevin Feige,2h 1min,"Action, Adventure , Comedy",8.0,76,"Chris Patt , Vin Diesel , Bradely Cooper","$170,000,000","$333,714,112","$772,776,600","$94,320,883",2,0,2
10,Avengers: Age of Ultron,"May 1, 2015",Joss Whedon,Kevin Feige,2h 21min,"Action , Adventure, Sci-Fi",7.3,66,"Robert Downey Jr. , Chris Evans , Chris Hemswo...","$250,000,000","$459,005,868","$1,402,805,868","$191,271,109",0,0,2
11,Ant-Man,"July 17, 2015",Peyton Reed,Kevin Feige,1h 57min,"Action, Adventure , Comedy",7.3,64,"Paul Rudd , Michael Douglas , Corey Stall","$130,000,000","$180,202,163","$519,311,965","$57,225,526",0,0,2
12,Captain America: Civil War,"May 6, 2016",Anthony and Joe Russo,Kevin Feige,2h 27min,"Action , Adventure, Sci-Fi",7.8,75,"Robert Downey Jr. , Chris Evans , Scarlett Joh...","$250,000,000","$408,084,349","$1,153,296,293","$179,139,142",0,0,3
13,Doctor Strange,"November 4, 2016",Scott Derrickson,Kevin Feige,1h 55min,"Action , Adventure, Fantasy",7.5,72,"Benedict Cumberbatch , Chiswetel Ejiofor , Rac...","$165,000,000","$232,641,920","$677,718,395","$85,058,311",1,0,3
14,Guardians of the Galaxy Vol. 2,"May 5, 2017",James Gunn,Kevin Feige,2h 16min,"Action, Adventure , Comedy",7.6,67,"Chris Patt , Zoe Saldana , Dave Bautista , Vi...","$200,000,000","$389,813,101","$863,756,051","$146,510,104",1,0,3
15,Spider-Man: Homecoming,"July 7, 2017",Jon Watts,Kevin Feige and Amy Pascal,2h 13min,"Action , Adventure, Sci-Fi",7.4,73,"Tom Holland , Michael Keaton , Robert Downey Jr.","$175,000,000","$334,201,140","$880,166,924","$117,027,503",0,0,3
16,Thor: Ragnarok,"November 3, 2017",Taika Waititi,Kevin Feige,2h 10min,"Action, Adventure , Comedy",7.9,74,"Chris Hemsworth , Cate Blanchett , Tom Hiddle...","$180,000,000","$315,058,28","$853,977,126","$122,744,989",0,0,3
17,Black Panther,"February 16, 2018",Ryan Coogler,Kevin Feige,2h 14min,"Action , Adventure, Sci-Fi",7.3,88,"Chadwick Boseman , Michael B. Jordan , Lupita ...","$200,000,000","$700,059,56","$1,346,913,161","$202,003,951",7,3,3
18,Avengers: Infinity War,"April 27, 2018",Anthony and Joe Russo,Kevin Feige,2h 29min,"Action , Adventure, Sci-Fi",8.4,68,"Robert Downey Jr. , Chris Evans , Chris Hemswo...","$300,000,000","$678,815,482","$2,048,359,754","$257,698,183",1,0,3
19,Ant-Man and the Wasp,"July 6, 2018",Peyton Reed,Kevin Feige and Stephen Broussard,1h 58min,"Action, Adventure , Comedy",7.0,70,"Paul Rudd , Evangeline Lilly , Micheal Pena","$130,000,000","$216,648,740","$622,674,139","$75,812,205",0,0,3
20,Captain Marvel,"March 8, 2019",Anna Boden and Ryan Fleck,Kevin Feige,2h 3min,"Action , Adventure, Sci-Fi",6.8,64,"Brie Larson , Samuel L. Jackson , Ben Mendelsohn","$160,000,000","$426,829,839","$1,128,274,794","$153,433,423",0,0,3
21,Avengers: Endgame,"April 26, 2019",Anthony and Joe Russo,Kevin Feige,3h 1min,"Action , Adventure , Drama",8.4,78,"Robert Downey Jr. , Chris Evans , Chris Hemswo...","$356,000,000","$858,373,000","$2,797,501,328","$357,115,007",1,0,3
22,Spider-Man: Far From Home,"July 2, 2019",Jon Watts,Kevin Feige and Amy Pascal,2h 9min,"Action , Adventure, Sci-Fi",7.5,69,"Tom Holland , Samuel L. Jackson , Jake Gyllenhaal","$160,000,000","$390,532,085","$1,131,927,996","$92,579,212",0,0,3

In [28]:
df_1 = df_info[['movie_title', 'release_date', 'season','phase','production_budget_in_million_(USD)','worldwide_collection_in_million_(USD)','imdb']]
df_2 = df_europa_limpio[['movie_title','Spain']]
df_3 = df_segundo1_limpio[['movie_title', 'Duration','Cast']]

# Unir los DataFrames por la columna en común
df_marvel_final = pd.merge(df_1, df_2, on='movie_title',how='outer')
df_marvel_final = pd.merge(df_marvel_final, df_3, on='movie_title',how='outer')

In [29]:

df_marvel_final.to_csv('Marvel_final.csv', index=False)

In [32]:
df_marvel_final = pd.read_csv("./Marvel_final.csv")
df_marvel_final.head(50)

,movie_title,release_date,season,phase,production_budget_in_million_(USD),worldwide_collection_in_million_(USD),imdb,Spain,Duration,Cast
0,Iron Man,"May 2, 2008",Spring,1.0,140.0,585.37,7.9,12.03,2h 6min,"Robert Downey Jr. , Gweneth Paltrow , Terrence..."
1,The Incredible Hulk,"June 13, 2008",Spring,1.0,150.0,264.77,6.6,7.69,1h 52min,"Edward Norton , Liv Tyler , Tim Roth"
2,Iron Man 2,"May 7, 2010",Spring,1.0,200.0,623.93,6.9,7.60,2h 4min,"Robert Downey Jr. , Gweneth Paltrow , Mickey R..."
3,Thor,"May 6, 2011",Spring,1.0,150.0,449.33,7.0,12.44,1h 55min,"Chris Hemsworth , Anthony Hopkins , Natalie Po..."
4,Captain America: The First Avenger,"July 22, 2011",Summer,1.0,140.0,370.57,6.9,7.71,2h 4min,"Chris Evans , Hugo Weaving , Samuel L. Jackson"
5,The Avengers,"May 4, 2012",Spring,1.0,220.0,1518.82,8.0,20.22,2h 23min,"Robert Downey Jr. , Chris Evans , Scarlett Joh..."
6,Iron Man 3,"May 3, 2013",Spring,2.0,200.0,1214.81,7.1,13.05,2h 10min,"Robert Downey Jr. , Gweneth Paltrow , Guy Pearce"
7,Thor: The Dark World,"November 8, 2013",Fall,2.0,170.0,644.78,6.8,8.86,NaN,NaN
8,Captain America: The Winter Soldier,"April 4, 2014",Spring,2.0,170.0,714.42,7.8,7.76,2h 16min,"Chris Evans , Scarlett Johansson , Samuel L. J..."
9,Guardians of the Galaxy,"August 1, 2014",Summer,2.0,170.0,773.35,8.0,10.15,2h 1min,"Chris Patt , Vin Diesel , Bradely Cooper"
10,Avengers: Age of Ultron,"May 1, 2015",Spring,2.0,250.0,1402.81,7.3,13.64,2h 21min,"Robert Downey Jr. , Chris Evans , Chris Hemswo..."
11,Ant-Man,"July 17, 2015",Summer,2.0,130.0,519.31,7.3,4.15,1h 57min,"Paul Rudd , Michael Douglas , Corey Stall"
12,Captain America: Civil War,"May 6, 2016",Spring,3.0,250.0,1153.34,7.8,11.35,2h 27min,"Robert Downey Jr. , Chris Evans , Scarlett Joh..."
13,Doctor Strange,"November 4, 2016",Fall,3.0,165.0,677.80,7.5,6.98,NaN,NaN
14,Guardians of the Galaxy Vol. 2,"May 5, 2017",Spring,3.0,200.0,863.76,7.6,10.31,2h 16min,"Chris Patt , Zoe Saldana , Dave Bautista , Vi..."
15,Spider-Man: Homecoming,"July 7, 2017",Summer,3.0,175.0,880.17,7.4,11.95,2h 13min,"Tom Holland , Michael Keaton , Robert Downey Jr."
16,Thor: Ragnarok,"November 3, 2017",Fall,3.0,180.0,853.98,7.9,10.62,2h 10min,"Chris Hemsworth , Cate Blanchett , Tom Hiddle..."
17,Black Panther,"February 16, 2018",Winter,3.0,200.0,1347.60,7.3,9.72,2h 14min,"Chadwick Boseman , Michael B. Jordan , Lupita ..."
18,Avengers: Infinity War,"April 27, 2018",Spring,3.0,325.0,2048.36,8.4,24.81,2h 29min,"Robert Downey Jr. , Chris Evans , Chris Hemswo..."
19,Ant-Man and the Wasp,"July 6, 2018",Summer,3.0,162.0,622.67,7.0,6.87,1h 58min,"Paul Rudd , Evangeline Lilly , Micheal Pena"
20,Captain Marvel,"March 8, 2019",Winter,3.0,160.0,1128.46,6.8,14.70,2h 3min,"Brie Larson , Samuel L. Jackson , Ben Mendelsohn"
21,Avengers: Endgame,"April 26, 2019",Spring,3.0,356.0,2797.50,8.4,32.67,3h 1min,"Robert Downey Jr. , Chris Evans , Chris Hemswo..."
22,Spider-Man: Far From Home,"July 2, 2019",Summer,3.0,160.0,1131.93,7.4,15.12,2h 9min,"Tom Holland , Samuel L. Jackson , Jake Gyllenhaal"
23,Black Widow,"July 9, 2021",Summer,4.0,200.0,379.75,6.7,7.33,NaN,NaN
24,Shang-Chi and the Legend of the Ten Rings,"September 3, 2021",Summer,4.0,150.0,432.24,7.4,6.97,NaN,NaN
25,Eternals,"November 5, 2021",Fall,4.0,200.0,402.06,6.4,8.59,NaN,NaN
26,Spider-Man: No Way Home,"December 17, 2021",Fall,4.0,200.0,1892.62,8.4,30.92,NaN,NaN
27,Thor: The dark world,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1h 52min,"Chris Hemsworth , Natalie Portman , Tom Hiddl..."
28,Doctor Strange,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1h 55min,"Benedict Cumberbatch , Chiswetel Ejiofor , Rac..."

In [33]:
df_marvel_final["imdb"]

0     7.9
1     6.6
2     6.9
3     7.0
4     6.9
5     8.0
6     7.1
7     6.8
8     7.8
9     8.0
10    7.3
11    7.3
12    7.8
13    7.5
14    7.6
15    7.4
16    7.9
17    7.3
18    8.4
19    7.0
20    6.8
21    8.4
22    7.4
23    6.7
24    7.4
25    6.4
26    8.4
27    NaN
28    NaN
Name: imdb, dtype: float64

In [19]:
# def pais_max_recaudacion(row):
#     recaudaciones = row[['United Kingdom', 'Spain', 'France']]
#     max_recaudacion = recaudaciones.max()
#     return recaudaciones[recaudaciones == max_recaudacion].index[0].split('_')[-1]

# df_marvel_final['country_max_collection'] = df_marvel_final.apply(pais_max_recaudacion, axis=1)

In [31]:
df_marvel_final.to_csv('marvel_final.csv', index=False)