In [2]:
import pandas as pd
import numpy as np

##### Exploraci√≥n CSV movie_info

In [3]:
df_info = pd.read_csv("./files/movie_info.csv")
df_info

,movie_title,release_date,season,phase,production_budget_in_million_(USD),worldwide_collection_in_million_(USD),tomatometer,tomato_audience_score,imdb,metascore,meta_user_score
0,Iron Man,"May 2, 2008",Spring,1,140,585.37,9.4,9.1,7.9,7.9,8.6
1,The Incredible Hulk,"June 13, 2008",Spring,1,150,264.77,6.7,7.0,6.6,6.1,7.0
2,Iron Man 2,"May 7, 2010",Spring,1,200,623.93,7.2,7.1,6.9,5.7,6.4
3,Thor,"May 6, 2011",Spring,1,150,449.33,7.7,7.6,7.0,5.7,7.1
4,Captain America: The First Avenger,"July 22, 2011",Summer,1,140,370.57,7.9,7.5,6.9,6.6,6.8
5,The Avengers,"May 4, 2012",Spring,1,220,1518.82,9.1,9.1,8.0,6.9,8.0
6,Iron Man 3,"May 3, 2013",Spring,2,200,1214.81,7.9,7.8,7.1,6.2,6.7
7,Thor: The Dark World,"November 8, 2013",Fall,2,170,644.78,6.6,7.5,6.8,5.4,7.1
8,Captain America: The Winter Soldier,"April 4, 2014",Spring,2,170,714.42,9.0,9.2,7.8,7.0,8.3
9,Guardians of the Galaxy,"August 1, 2014",Summer,2,170,773.35,9.2,9.2,8.0,7.6,8.2
10,Avengers: Age of Ultron,"May 1, 2015",Spring,2,250,1402.81,7.6,8.3,7.3,6.6,7.1
11,Ant-Man,"July 17, 2015",Summer,2,130,519.31,8.3,8.5,7.3,6.4,7.5
12,Captain America: Civil War,"May 6, 2016",Spring,3,250,1153.34,9.0,8.9,7.8,7.5,8.0
13,Doctor Strange,"November 4, 2016",Fall,3,165,677.80,8.9,8.5,7.5,7.2,8.0
14,Guardians of the Galaxy Vol. 2,"May 5, 2017",Spring,3,200,863.76,8.5,8.7,7.6,6.7,7.8
15,Spider-Man: Homecoming,"July 7, 2017",Summer,3,175,880.17,9.2,8.7,7.4,7.3,7.6
16,Thor: Ragnarok,"November 3, 2017",Fall,3,180,853.98,9.3,8.7,7.9,7.4,7.8
17,Black Panther,"February 16, 2018",Winter,3,200,1347.60,9.6,7.9,7.3,8.8,6.3
18,Avengers: Infinity War,"April 27, 2018",Spring,3,325,2048.36,8.5,9.1,8.4,6.8,8.6
19,Ant-Man and the Wasp,"July 6, 2018",Summer,3,162,622.67,8.7,8.1,7.0,7.0,7.1
20,Captain Marvel,"March 8, 2019",Winter,3,160,1128.46,7.9,4.5,6.8,6.4,3.0
21,Avengers: Endgame,"April 26, 2019",Spring,3,356,2797.50,9.4,9.0,8.4,7.8,7.9
22,Spider-Man: Far From Home,"July 2, 2019",Summer,3,160,1131.93,9.0,9.5,7.4,6.9,7.6
23,Black Widow,"July 9, 2021",Summer,4,200,379.75,7.9,9.1,6.7,6.7,6.1
24,Shang-Chi and the Legend of the Ten Rings,"September 3, 2021",Summer,4,150,432.24,9.1,9.8,7.4,7.1,7.1
25,Eternals,"November 5, 2021",Fall,4,200,402.06,4.7,7.8,6.4,5.2,6.3
26,Spider-Man: No Way Home,"December 17, 2021",Fall,4,200,1892.62,9.3,9.8,8.4,7.1,8.6

In [4]:
def exploracion_dataframe(dataframe):

    #Nos ense√±a los duplicados en el DF

    print(f"Tenemos {dataframe.duplicated().sum()} duplicados en el conjunto de datos.")
    print("\n ----- \n")

    #Nos muestra un DataFrame para los valores nulos

    print("Los nulos que tenemos en el conjunto de datos son:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    print("\n ----- \n")

    #Nos muestra los tipos de columnas

    print(f"Los tipos de las columnas son:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    print("\n ----- \n")

    #Nos muestra los valores de las columnas categ√≥ricas

    print("Los valores que tenemos para las COLUMNAS CATEG√ìRICAS son: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores √∫nicos:")
        display(pd.DataFrame(dataframe[col].value_counts()).head())

    #Sacamos los principales estad√≠sticos de cada una de las categor√≠as
    
    columnas_numericas = dataframe.select_dtypes(include=['int', 'float']).columns
    columnas_categoricas = dataframe.select_dtypes(include='O').columns
    for col in columnas_categoricas:
        print("\n ----- \n")
        print(f"Los principales estad√≠sticos de las COLUMNAS CATEG√ìRICAS para el {col.upper()} son: ")
        display(dataframe[[col]].describe().T)
    for col in columnas_numericas:
        print("\n ----- \n")
        print(f"Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el {col.upper()} son: ")
        display(dataframe[[col]].describe().T)

In [5]:
exploracion_dataframe(df_info)

Tenemos 0 duplicados en el conjunto de datos.

 -----

Los nulos que tenemos en el conjunto de datos son:

Empty DataFrame
Columns: [%_nulos]
Index: []

 -----

Los tipos de las columnas son:

                                      tipo_dato
movie_title                              object
release_date                             object
season                                   object
phase                                     int64
production_budget_in_million_(USD)        int64
worldwide_collection_in_million_(USD)   float64
tomatometer                             float64
tomato_audience_score                   float64
imdb                                    float64
metascore                               float64
meta_user_score                         float64

 -----

Los valores que tenemos para las COLUMNAS CATEG√ìRICAS son:
La columna MOVIE_TITLE tiene las siguientes valores √∫nicos:

                                           movie_title
Iron Man                                             1
Guardians of the Galaxy Vol. 2                       1
Eternals                                             1
Shang-Chi and the Legend of the Ten Rings            1
Black Widow                                          1

La columna RELEASE_DATE tiene las siguientes valores √∫nicos:

                   release_date
May 2, 2008                   1
May 5, 2017                   1
November 5, 2021              1
September 3, 2021             1
July 9, 2021                  1

La columna SEASON tiene las siguientes valores √∫nicos:

        season
Spring      12
Summer       8
Fall         5
Winter       2

 -----

Los principales estad√≠sticos de las COLUMNAS CATEG√ìRICAS para el MOVIE_TITLE son:

            count unique       top freq
movie_title    27     27  Iron Man    1

 -----

Los principales estad√≠sticos de las COLUMNAS CATEG√ìRICAS para el RELEASE_DATE son:

             count unique          top freq
release_date    27     27  May 2, 2008    1

 -----

Los principales estad√≠sticos de las COLUMNAS CATEG√ìRICAS para el SEASON son:

       count unique     top freq
season    27      4  Spring   12

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el PHASE son:

       count      mean       std  min  25%  50%  75%  max
phase   27.0  2.481481  1.014145  1.0  2.0  3.0  3.0  4.0

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el PRODUCTION_BUDGET_IN_MILLION_(USD) son:

,count,mean,std,min,25%,50%,75%,max
production_budget_in_million_(USD),27.0,191.592593,52.859217,130.0,160.0,175.0,200.0,356.0

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el WORLDWIDE_COLLECTION_IN_MILLION_(USD) son:

,count,mean,std,min,25%,50%,75%,max
worldwide_collection_in_million_(USD),27.0,951.648519,592.519375,264.77,552.34,773.35,1184.075,2797.5

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el TOMATOMETER son:

             count      mean       std  min  25%  50%   75%  max
tomatometer   27.0  8.355556  1.111248  4.7  7.9  8.7  9.15  9.6

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el TOMATO_AUDIENCE_SCORE son:

                       count     mean       std  min  25%  50%  75%  max
tomato_audience_score   27.0  8.37037  1.099586  4.5  7.8  8.7  9.1  9.8

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el IMDB son:

      count      mean       std  min   25%  50%   75%  max
imdb   27.0  7.407407  0.567671  6.4  6.95  7.4  7.85  8.4

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el METASCORE son:

           count      mean       std  min  25%  50%   75%  max
metascore   27.0  6.814815  0.798895  5.2  6.4  6.9  7.25  8.8

 -----

Los principales estad√≠sticos de las COLUMNAS NUM√âRICAS para el META_USER_SCORE son:

                 count      mean       std  min  25%  50%  75%  max
meta_user_score   27.0  7.281481  1.127638  3.0  6.9  7.5  8.0  8.6

In [21]:
def comprobacion_valores_nulos(df):
    
    
    # calculamos el % de nulos por columna
    df_nulos = pd.DataFrame((df.isnull().sum() / df.shape[0]) * 100, columns = ["%_nulos"])
    # filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
    
    return df_nulos[df_nulos["%_nulos"] > 0]

In [22]:
comprobacion_valores_nulos(df_info)

Empty DataFrame
Columns: [%_nulos]
Index: []

##### Exploraci√≥n CSV north_america

In [6]:
df_north_america = pd.read_csv("./files/north_america_box_office.csv")
df_north_america

,movie_title,USA_and_Canada,Mexico,Central America,Caribbean
0,Iron Man,319.03,15.95,1.37,1.37
1,The Incredible Hulk,134.81,12.65,0.70,0.70
2,Iron Man 2,312.43,18.40,6.57,6.57
3,Thor,181.03,19.55,5.29,5.29
4,Captain America: The First Avenger,176.65,20.22,3.84,3.84
5,The Avengers,623.36,61.75,11.73,11.73
6,Iron Man 3,409.01,48.57,8.84,8.84
7,Thor: The Dark World,206.36,23.86,7.84,7.84
8,Captain America: The Winter Soldier,259.77,25.72,6.70,6.70
9,Guardians of the Galaxy,333.72,19.65,9.94,9.94
10,Avengers: Age of Ultron,459.01,50.94,8.01,8.01
11,Ant-Man,180.20,15.10,2.77,2.77
12,Captain America: Civil War,408.08,41.42,11.04,11.04
13,Doctor Strange,232.64,13.59,4.39,4.39
14,Guardians of the Galaxy Vol. 2,389.81,19.01,3.27,3.27
15,Spider-Man: Homecoming,334.20,27.07,2.28,2.28
16,Thor: Ragnarok,315.06,21.25,4.73,4.73
17,Black Panther,700.43,28.32,7.34,7.34
18,Avengers: Infinity War,678.82,60.06,18.11,18.11
19,Ant-Man and the Wasp,216.65,14.96,3.30,3.30
20,Captain Marvel,426.83,33.31,6.71,6.71
21,Avengers: Endgame,858.37,77.59,14.36,14.36
22,Spider-Man: Far From Home,390.53,32.30,5.75,5.75
23,Black Widow,183.65,9.86,2.71,2.71
24,Shang-Chi and the Legend of the Ten Rings,224.54,7.67,2.85,2.85
25,Eternals,164.87,15.30,2.28,2.28
26,Spider-Man: No Way Home,804.62,75.85,36.72,36.72

In [23]:
df_north_america.drop(columns=['Caribbean'], inplace=True)

In [24]:
df_north_america.rename(columns={'Central America': 'Central_America_&_Caribbean'}, inplace=True)

In [26]:
df_north_america.head(1)

  movie_title  USA_and_Canada  Mexico  Central_America_&_Caribbean
0    Iron Man          319.03   15.95                         1.37

In [7]:
df_middle_east_and_africa = pd.read_csv("./files/middle_east_and_africa_box_office.csv")
df_middle_east_and_africa

,movie_title,United Arab Emirates,Israel,South Africa,Nigeria,Ghana,Kenya,East Africa,Lebanon,Egypt,Kuwait,Turkey,Other_Middle_East_and_African_Countries
0,Iron Man,1.84,0.61,1.46,0.05,NaN,NaN,0.09,0.10,0.27,0.84,1.66,1.37
1,The Incredible Hulk,1.81,0.49,0.93,0.03,NaN,NaN,0.08,0.10,0.28,0.66,1.02,0.70
2,Iron Man 2,2.25,0.68,2.59,0.06,0.01,NaN,0.12,0.17,0.30,NaN,1.84,6.57
3,Thor,2.07,0.75,2.01,0.14,0.03,NaN,0.05,0.28,0.16,NaN,2.09,5.29
4,Captain America: The First Avenger,1.33,0.72,1.04,0.06,0.02,NaN,0.04,0.17,0.11,NaN,1.08,3.84
5,The Avengers,6.69,2.45,4.61,0.20,0.02,NaN,0.32,0.53,0.91,NaN,4.26,11.73
6,Iron Man 3,5.73,2.15,3.19,NaN,NaN,NaN,0.35,0.58,0.80,NaN,4.51,8.84
7,Thor: The Dark World,3.45,1.15,2.07,0.16,NaN,NaN,0.20,0.52,0.54,NaN,3.69,7.84
8,Captain America: The Winter Soldier,3.93,1.22,1.41,0.07,NaN,NaN,0.16,0.31,0.42,NaN,2.36,6.70
9,Guardians of the Galaxy,2.34,1.90,1.48,0.12,NaN,0.15,0.15,0.18,0.38,NaN,1.92,9.94
10,Avengers: Age of Ultron,3.17,2.02,3.28,0.27,NaN,0.32,NaN,0.54,1.22,NaN,5.86,8.01
11,Ant-Man,2.89,1.34,0.75,0.10,0.36,0.12,NaN,0.34,NaN,NaN,NaN,2.77
12,Captain America: Civil War,5.96,NaN,2.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.05,11.04
13,Doctor Strange,3.44,NaN,1.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.20,4.39
14,Guardians of the Galaxy Vol. 2,2.90,NaN,1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.53,3.27
15,Spider-Man: Homecoming,5.02,2.60,2.31,0.28,0.05,0.26,NaN,0.63,0.53,1.67,2.66,2.28
16,Thor: Ragnarok,4.59,NaN,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.98,4.73
17,Black Panther,6.99,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.59,7.34
18,Avengers: Infinity War,10.07,NaN,5.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.70,18.11
19,Ant-Man and the Wasp,3.23,NaN,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.11,3.30
20,Captain Marvel,5.77,NaN,3.48,0.66,NaN,NaN,NaN,NaN,NaN,NaN,3.25,6.71
21,Avengers: Endgame,12.78,NaN,7.17,1.36,NaN,NaN,NaN,NaN,1.75,NaN,7.92,14.36
22,Spider-Man: Far From Home,6.44,3.15,2.33,0.44,0.06,0.24,NaN,0.73,1.03,2.36,2.97,5.75
23,Black Widow,3.23,NaN,0.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.71
24,Shang-Chi and the Legend of the Ten Rings,3.44,NaN,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.66,2.85
25,Eternals,2.54,NaN,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.66,2.28
26,Spider-Man: No Way Home,12.10,2.70,6.20,NaN,NaN,NaN,NaN,NaN,1.30,1.20,5.33,36.72

In [29]:
comprobacion_valores_nulos(df_middle_east_and_africa)

               %_nulos
Israel       44.444444
Nigeria      44.444444
Ghana        74.074074
Kenya        81.481481
East Africa  62.962963
Lebanon      48.148148
Egypt        44.444444
Kuwait       81.481481
Turkey        7.407407

In [30]:
def gestionar_nulos(dataframe):
    # Reemplazar los valores nulos por "desconocido"
    dataframe = dataframe.fillna('unkwown')
    return dataframe

In [39]:
df_me_limpio= gestionar_nulos(df_middle_east_and_africa)

In [8]:
df_europa = pd.read_csv("./files/europe_box_office.csv")
df_europa

,movie_title,United Kingdom,Spain,Italy,Germany,Denmark,Hungary,Finland,Netherlands,Iceland,...,Poland,Serbia and Montenegro,Estonia,Slovenia,Sweden,Belgium,Norway,Greece,France,Other_European_Countries
0,Iron Man,34.28,12.03,10.81,8.56,2.22,0.68,0.67,2.10,0.28,...,1.00,0.03,0.08,0.09,2.06,1.97,1.86,1.80,19.20,1.37
1,The Incredible Hulk,15.16,7.69,6.46,2.46,1.10,0.31,0.22,1.34,0.15,...,0.48,0.05,0.03,0.06,1.08,1.08,1.53,0.83,9.73,0.70
2,Iron Man 2,30.46,7.60,9.98,9.25,2.29,0.70,0.80,2.14,0.20,...,1.14,0.04,0.08,0.12,1.97,1.89,2.46,1.57,19.79,6.57
3,Thor,22.52,12.44,10.90,16.01,1.53,0.74,0.42,1.95,0.26,...,1.61,0.07,0.13,0.12,2.29,1.26,2.03,1.85,18.37,5.29
4,Captain America: The First Avenger,14.75,7.71,8.60,4.87,1.05,0.51,0.31,1.63,0.20,...,0.45,0.03,0.10,0.07,1.50,1.03,1.41,0.77,10.28,3.84
5,The Avengers,80.56,20.22,22.01,30.83,5.08,1.76,1.48,6.61,0.50,...,3.17,0.17,NaN,0.16,7.60,4.06,5.64,2.60,37.77,11.73
6,Iron Man 3,57.07,13.05,20.91,24.37,4.43,2.02,1.89,5.72,0.38,...,4.25,0.12,NaN,0.18,5.50,3.51,5.33,2.05,38.96,8.84
7,Thor: The Dark World,26.22,8.86,11.18,20.36,2.13,1.10,1.13,3.21,0.31,...,3.16,0.15,NaN,0.15,3.94,2.23,2.55,1.27,22.29,7.84
8,Captain America: The Winter Soldier,32.23,7.76,9.73,12.48,1.89,1.05,0.83,2.62,0.23,...,1.38,0.07,NaN,0.08,2.12,1.68,1.84,1.05,16.89,6.70
9,Guardians of the Galaxy,37.21,10.15,7.01,24.60,2.65,1.63,1.38,3.67,0.42,...,2.52,0.21,NaN,0.14,5.27,2.84,3.08,0.70,19.89,9.94
10,Avengers: Age of Ultron,62.97,13.64,18.12,31.19,4.58,1.98,1.34,5.47,0.37,...,3.97,0.19,0.26,0.12,5.24,3.31,4.77,1.78,34.27,8.01
11,Ant-Man,25.19,4.15,5.29,5.92,0.92,NaN,0.60,1.85,0.18,...,1.30,0.07,0.11,0.04,2.14,1.24,1.36,0.36,13.56,2.77
12,Captain America: Civil War,53.78,11.35,12.96,21.77,3.08,NaN,1.43,4.39,0.34,...,2.69,NaN,NaN,0.10,3.61,2.49,2.52,NaN,23.22,11.04
13,Doctor Strange,28.55,6.98,8.19,17.40,2.29,1.21,1.29,3.61,0.29,...,2.46,NaN,NaN,0.09,3.14,1.89,1.54,1.18,15.69,4.39
14,Guardians of the Galaxy Vol. 2,53.06,10.31,7.90,30.17,3.29,1.71,1.53,4.46,0.47,...,3.25,NaN,NaN,0.12,4.50,2.55,2.47,0.63,24.81,3.27
15,Spider-Man: Homecoming,39.58,11.95,10.16,11.66,2.47,1.06,1.16,4.04,0.33,...,2.69,0.18,0.20,0.10,3.68,2.28,2.83,1.11,18.79,2.28
16,Thor: Ragnarok,40.96,10.62,9.87,19.04,2.92,2.20,1.46,4.59,0.48,...,4.05,NaN,NaN,0.19,4.54,2.57,2.75,1.30,21.26,4.73
17,Black Panther,70.75,9.72,8.95,23.39,4.80,1.57,2.20,9.98,0.50,...,3.60,0.31,NaN,0.21,7.44,3.85,4.25,1.24,33.11,7.34
18,Avengers: Infinity War,96.64,24.81,22.84,45.40,6.85,3.17,3.38,10.43,0.69,...,7.37,0.28,NaN,0.33,8.07,5.65,5.69,2.82,47.69,18.11
19,Ant-Man and the Wasp,22.94,6.87,5.82,9.42,1.07,0.99,0.77,2.66,0.23,...,2.43,NaN,NaN,0.07,1.97,1.33,1.43,0.51,14.72,3.30
20,Captain Marvel,51.79,14.70,11.46,24.31,3.55,2.10,2.08,6.63,0.39,...,4.51,0.29,NaN,0.19,4.74,3.59,2.99,1.56,27.09,6.71
21,Avengers: Endgame,115.00,32.67,34.15,63.29,10.25,4.50,4.94,15.07,0.75,...,10.56,0.80,NaN,0.61,11.76,8.68,8.16,4.18,62.19,14.36
22,Spider-Man: Far From Home,49.57,15.12,13.50,19.42,3.88,1.72,1.90,7.42,0.36,...,4.49,0.32,0.40,0.24,4.46,3.51,3.65,1.68,26.19,5.75
23,Black Widow,25.78,7.33,5.78,8.47,0.18,1.38,1.09,4.55,0.24,...,2.67,NaN,NaN,0.08,2.37,1.90,1.24,NaN,15.13,2.71
24,Shang-Chi and the Legend of the Ten Rings,29.32,6.97,4.56,9.41,0.80,0.89,0.97,4.09,0.22,...,2.04,0.14,NaN,0.06,2.37,1.87,1.49,NaN,12.97,2.85
25,Eternals,19.96,8.59,9.77,9.40,0.67,0.75,0.68,2.39,0.15,...,2.16,0.18,NaN,0.07,2.30,1.84,0.93,NaN,16.24,2.28
26,Spider-Man: No Way Home,126.89,30.92,27.23,50.23,NaN,3.14,NaN,13.00,0.76,...,NaN,1.08,NaN,0.59,NaN,NaN,2.60,NaN,57.21,36.72

In [32]:
comprobacion_valores_nulos(df_europa)

                         %_nulos
Denmark                 3.703704
Hungary                 7.407407
Finland                 3.703704
Switzerland            29.629630
Romania                22.222222
Lithuania              18.518519
Latvia                 66.666667
Croatia                14.814815
Austria                 3.703704
Poland                  3.703704
Serbia and Montenegro  22.222222
Estonia                66.666667
Sweden                  3.703704
Belgium                 3.703704
Greece                 18.518519

In [36]:
df_europa_limpio = gestionar_nulos(df_europa)

In [38]:
df_europa_limpio

,movie_title,United Kingdom,Spain,Italy,Germany,Denmark,Hungary,Finland,Netherlands,Iceland,...,Poland,Serbia and Montenegro,Estonia,Slovenia,Sweden,Belgium,Norway,Greece,France,Other_European_Countries
0,Iron Man,34.28,12.03,10.81,8.56,2.22,0.68,0.67,2.10,0.28,...,1.0,0.03,0.08,0.09,2.06,1.97,1.86,1.8,19.20,1.37
1,The Incredible Hulk,15.16,7.69,6.46,2.46,1.1,0.31,0.22,1.34,0.15,...,0.48,0.05,0.03,0.06,1.08,1.08,1.53,0.83,9.73,0.70
2,Iron Man 2,30.46,7.60,9.98,9.25,2.29,0.7,0.8,2.14,0.20,...,1.14,0.04,0.08,0.12,1.97,1.89,2.46,1.57,19.79,6.57
3,Thor,22.52,12.44,10.90,16.01,1.53,0.74,0.42,1.95,0.26,...,1.61,0.07,0.13,0.12,2.29,1.26,2.03,1.85,18.37,5.29
4,Captain America: The First Avenger,14.75,7.71,8.60,4.87,1.05,0.51,0.31,1.63,0.20,...,0.45,0.03,0.1,0.07,1.5,1.03,1.41,0.77,10.28,3.84
5,The Avengers,80.56,20.22,22.01,30.83,5.08,1.76,1.48,6.61,0.50,...,3.17,0.17,unkwown,0.16,7.6,4.06,5.64,2.6,37.77,11.73
6,Iron Man 3,57.07,13.05,20.91,24.37,4.43,2.02,1.89,5.72,0.38,...,4.25,0.12,unkwown,0.18,5.5,3.51,5.33,2.05,38.96,8.84
7,Thor: The Dark World,26.22,8.86,11.18,20.36,2.13,1.1,1.13,3.21,0.31,...,3.16,0.15,unkwown,0.15,3.94,2.23,2.55,1.27,22.29,7.84
8,Captain America: The Winter Soldier,32.23,7.76,9.73,12.48,1.89,1.05,0.83,2.62,0.23,...,1.38,0.07,unkwown,0.08,2.12,1.68,1.84,1.05,16.89,6.70
9,Guardians of the Galaxy,37.21,10.15,7.01,24.60,2.65,1.63,1.38,3.67,0.42,...,2.52,0.21,unkwown,0.14,5.27,2.84,3.08,0.7,19.89,9.94
10,Avengers: Age of Ultron,62.97,13.64,18.12,31.19,4.58,1.98,1.34,5.47,0.37,...,3.97,0.19,0.26,0.12,5.24,3.31,4.77,1.78,34.27,8.01
11,Ant-Man,25.19,4.15,5.29,5.92,0.92,unkwown,0.6,1.85,0.18,...,1.3,0.07,0.11,0.04,2.14,1.24,1.36,0.36,13.56,2.77
12,Captain America: Civil War,53.78,11.35,12.96,21.77,3.08,unkwown,1.43,4.39,0.34,...,2.69,unkwown,unkwown,0.10,3.61,2.49,2.52,unkwown,23.22,11.04
13,Doctor Strange,28.55,6.98,8.19,17.40,2.29,1.21,1.29,3.61,0.29,...,2.46,unkwown,unkwown,0.09,3.14,1.89,1.54,1.18,15.69,4.39
14,Guardians of the Galaxy Vol. 2,53.06,10.31,7.90,30.17,3.29,1.71,1.53,4.46,0.47,...,3.25,unkwown,unkwown,0.12,4.5,2.55,2.47,0.63,24.81,3.27
15,Spider-Man: Homecoming,39.58,11.95,10.16,11.66,2.47,1.06,1.16,4.04,0.33,...,2.69,0.18,0.2,0.10,3.68,2.28,2.83,1.11,18.79,2.28
16,Thor: Ragnarok,40.96,10.62,9.87,19.04,2.92,2.2,1.46,4.59,0.48,...,4.05,unkwown,unkwown,0.19,4.54,2.57,2.75,1.3,21.26,4.73
17,Black Panther,70.75,9.72,8.95,23.39,4.8,1.57,2.2,9.98,0.50,...,3.6,0.31,unkwown,0.21,7.44,3.85,4.25,1.24,33.11,7.34
18,Avengers: Infinity War,96.64,24.81,22.84,45.40,6.85,3.17,3.38,10.43,0.69,...,7.37,0.28,unkwown,0.33,8.07,5.65,5.69,2.82,47.69,18.11
19,Ant-Man and the Wasp,22.94,6.87,5.82,9.42,1.07,0.99,0.77,2.66,0.23,...,2.43,unkwown,unkwown,0.07,1.97,1.33,1.43,0.51,14.72,3.30
20,Captain Marvel,51.79,14.70,11.46,24.31,3.55,2.1,2.08,6.63,0.39,...,4.51,0.29,unkwown,0.19,4.74,3.59,2.99,1.56,27.09,6.71
21,Avengers: Endgame,115.00,32.67,34.15,63.29,10.25,4.5,4.94,15.07,0.75,...,10.56,0.8,unkwown,0.61,11.76,8.68,8.16,4.18,62.19,14.36
22,Spider-Man: Far From Home,49.57,15.12,13.50,19.42,3.88,1.72,1.9,7.42,0.36,...,4.49,0.32,0.4,0.24,4.46,3.51,3.65,1.68,26.19,5.75
23,Black Widow,25.78,7.33,5.78,8.47,0.18,1.38,1.09,4.55,0.24,...,2.67,unkwown,unkwown,0.08,2.37,1.9,1.24,unkwown,15.13,2.71
24,Shang-Chi and the Legend of the Ten Rings,29.32,6.97,4.56,9.41,0.8,0.89,0.97,4.09,0.22,...,2.04,0.14,unkwown,0.06,2.37,1.87,1.49,unkwown,12.97,2.85
25,Eternals,19.96,8.59,9.77,9.40,0.67,0.75,0.68,2.39,0.15,...,2.16,0.18,unkwown,0.07,2.3,1.84,0.93,unkwown,16.24,2.28
26,Spider-Man: No Way Home,126.89,30.92,27.23,50.23,unkwown,3.14,unkwown,13.00,0.76,...,unkwown,1.08,unkwown,0.59,unkwown,unkwown,2.60,unkwown,57.21,36.72

In [37]:
comprobacion_valores_nulos(df_europa_limpio)

Empty DataFrame
Columns: [%_nulos]
Index: []

In [41]:
df_europa_limpio.to_csv("df_europa_limpio.csv", index= False)

In [42]:
df_north_america.to_csv("df_america_limpio.csv", index= False)

In [3]:
df_segundo1= pd.read_csv("./files/mcu dataset.csv")
df_segundo

,Film,U.S. release date,Box office gross Domestic (U.S. and Canada ),Box office gross Other territories,Box office gross Worldwide,Budget,MCU,Phase,Distributor,MPAA Rating,...,Character Family,Domestic %,Gross to Budget,Rotten Tomatoes Critic Score,Male/Female-led,Year,Inflation Adjusted Worldwide Gross,Inflation Adjusted Budget,2.5x prod,Break Even
0,Superman,15/12/1978,"$134,478,449","$166,000,000","$300,478,449","$55,000,000",False,NaN,Warner Bros.,PG,...,Superman,45%,5.46,94.0,Male,1978.0,"$1,404,237,104","$257,033,544","$137,500,000",Success
1,Superman II,19/06/1981,"$108,185,706","$108,200,000","$216,385,706","$54,000,000",False,NaN,Warner Bros.,PG,...,Superman,50%,4.01,83.0,Male,1981.0,"$725,336,273","$181,010,842","$135,000,000",Success
2,Superman III,17/06/1983,"$59,950,623","$20,300,000","$80,250,623","$39,000,000",False,NaN,Warner Bros.,PG,...,Superman,75%,2.06,29.0,Male,1983.0,"$245,506,947","$119,310,861","$97,500,000",Flop
3,Supergirl,21/11/1984,"$14,296,438",NaN,"$14,296,438","$35,000,000",False,NaN,Tri-Star Pictures,PG,...,Superman,100%,0.41,8.0,Female,1984.0,"$41,926,345","$102,642,497","$87,500,000",Flop
4,Howard the Duck,01/08/1986,"$16,295,774","$21,667,000","$37,962,774","$37,000,000",False,NaN,Universal Pictures,PG,...,Howard the Duck,43%,1.03,13.0,Male,1986.0,"$37,962,774","$37,000,000","$92,500,000",Flop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Blue Beetle,18/08/2023,"$72,488,072","$56,800,000","$129,288,072","$120,000,000",False,NaN,Warner Bros.,PG-13,...,Blue Beetle,56%,1.08,78.0,Male,2023.0,"$129,288,072","$120,000,000","$300,000,000",Flop
110,The Marvels,10/11/2023,"$84,500,223","$121,373,601","$205,873,824","$219,800,000",True,5.0,Walt Disney Studios Motion Pictures,PG-13,...,Captain Marvel,41%,0.94,62.0,Female,2023.0,"$205,873,824","$219,800,000","$549,500,000",Flop
111,Aquaman and the Lost Kingdom,20/12/2023,"$124,436,589","$309,900,000","$434,336,589","$205,000,000",False,NaN,Warner Bros.,PG-13,...,Aquaman,29%,2.12,35.0,Male,2023.0,"$434,336,589","$205,000,000","$512,500,000",Flop
112,Madame Web,14/02/2024,"$42,619,699","$54,000,000","$96,619,699","$80,000,000",False,NaN,Columbia Pictures,PG-13,...,Spider-Man Allies and Villains,44%,1.21,13.0,Female,2024.0,"$96,619,699","$80,000,000","$200,000,000",Flop
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_segundo.columns

Index(['Film', 'U.S. release date',
       'Box office gross Domestic (U.S. and Canada )',
       'Box office gross Other territories', 'Box office gross Worldwide',
       'Budget', 'MCU', 'Phase', 'Distributor', 'MPAA Rating', 'Length',
       'Minutes', 'Franchise', 'Character Family', 'Domestic %',
       'Gross to Budget', 'Rotten Tomatoes Critic Score', 'Male/Female-led',
       'Year', 'Inflation Adjusted Worldwide Gross',
       'Inflation Adjusted Budget', '2.5x prod', 'Break Even'],
      dtype='object')

In [10]:
df_segundo["Male/Female-led"].value_counts()

Male           96
Female         13
Co-starring     4
Name: Male/Female-led, dtype: int64